@model IEnumerable<User>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/UserList.css" asp-append-version="true" />
</head>

<div class="container mt-5">
    <h2>User List</h2>

    <table class="user-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Password</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.Surname</td>
                    <td>@user.Email</td>
                    <td>@user.Password</td>
                    <td>@user.role</td>
                    <td>
                        <a asp-controller="User" asp-action="Update" asp-route-id="@user.Id" class="btn-update">Update</a>
                        <a asp-controller="User" asp-action="Delete" asp-route-id="@user.Id" class="btn-delete">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="add-user-section">
        <a asp-controller="User" asp-action="Create" class="btn-add-user">Create User</a>
    </div>
</div>
